* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

/* EXTRA CREDIT: BACKGROUND COLOR OF AT LEAST 1 OF THE MAIN SECTIONS */
.newsletter {
  width: 290px;
  color: white;
  background-color: #495C70;
  border-radius: 10px;
  padding-left: 0.5em;
  margin-right: 0.5em;
}

.second {
  padding-top: 3em;
}
fieldset {
  padding-right: 0;
  margin-right: 0;
}
#other {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
#signup {
  margin-top: 1.5em;
}

#signup {
  font-family: 'Merriweather', serif;
}

/* FLEX CONTAINERS */
.wrapper,
.main-header,
.forms,
fieldset,
select,
.title
 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MAIN STYLES */

h1 {
  font-weight: normal;
  font-size: 1.2em;
}

.title {
  height: 4em;
  color: white;
  background-color: #374a5d;
  justify-content: center;
  align-items: center;
}

.intro {
  max-width: 90%;
  align-self: center;
  border-bottom: solid 4px black;
  margin-bottom: 0.15em;
}
.intro h2 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

.intro p {
  color: #9d9d9d;
  font-size: 0.85em;
  font-weight: 300;
  line-height: 1.25em;
  text-align: center;

  margin-top: 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2em;

  padding-left: 0;
  padding-right: 0;
}

main {
  max-width: 90%;
  align-self: center;
  border-top: solid 2px black;
}

fieldset {
  font-weight: 300;
  border: none;
  padding-left: 0;
  margin-left: 0;
}

legend {
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 1.3em;
  margin-bottom: 0.2em;
}

label {
  font-size: 0.9em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.7em;
}

input,
select {
  font-size: 1.1em;
  font-weight: 300;
  height: 45px;

  border-style: none;
  border-radius: 5px;
  background-color: #ededed;

  padding-left: 1em;

  box-shadow: none;
  outline: none;
}

input[id^="user"],
select {
  width: 290px;
}

select {
  padding-left: 0.5em;
  padding-top: 0.5em;
}

select#user_state {
  font-size: 0.85em;
  opacity: 0.5;
  padding-top: 1em;
}

#zip {
  margin-bottom: 1.1em;
  max-width: 144px;
}

.second {
  width: 100%;
}

label[for="html-news"] {
  font-size: 0.85em;

  margin-right: 0em;
  padding-left: 0;
}

input[type="checkbox"],
input[type="radio"] {
  height: 13px;
}

.newsletter div input {
  margin-left: 0.3em;
}
.newsletter div label {
  padding-left: 0.5em;
}

#other {
  margin-bottom: 0.8em;
}

textarea {
  resize: none;
  width: 255px;
  height: 90px;

  border: none;
  border-radius: 5px;
  background-color: #ededed;

  padding-top: 0.5em;
  padding-left: 0.5em;
}

input[type="submit"] {
  color: white;
  font-weight: 700;
  width: 280px;

  border: none;
  background-color: #31c2b5;

  padding: 1.2em;
  padding-bottom: 2em;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 13em;
}

.copyright {
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.5;
  margin-top: 0.5em;
}

.forms fieldset div {
  display: flex;
  flex-direction: column;
}

.intro {
  max-width: 288px;
}

main {
  max-width: 288px;
}

.forms fieldset[class="newsletter"] div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forms fieldset[class="newsletter"] div {
  justify-content: flex-start;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0.3em;

  padding-top: 0;
  padding-bottom: 0;
}

label[for="other"] {
  margin-top: 1.25em;
  margin-bottom: 0.75em;
}

div label {
  margin-left: 0.2em;
}

.forms fieldset[class="newsletter"] div label {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

input[type="checkbox"] {
  margin-right: 0.25em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* TESTING BORDER FOR .NEWSLETTER INSTEAD OF .SECOND*/
.second {
  border: none;
}
.newsletter {
  margin-top: 0;
}
fieldset:first-child {
  border-bottom: 2px solid black;

  padding-bottom: 0;
  margin-bottom: 0;
}

#zip {
  margin-bottom: 2em;
}
.intro,
main {
  width: 290px;
}

/* TRANSITIONS FOR FOCUS STATES */

input,
#user_state,
textarea,
#signup {
  outline: none;
  font-weight: bold;
  transition-property: box-shadow, border, background-color, color;
  transition-duration: 0.3s, 0.3s, 1s, 1s;
  transition-timing-function: ease;
}

input:focus,
#user_state:focus,
textarea:focus,
#signup:focus,
#signup:Hover {
  box-shadow: 0 0 5px black;
  border: 2px solid black;
  color: black;
}
textarea:focus {
  box-shadow: 0 0 5px white;
}

input::placeholder {
  font-size: 0.75em;
  text-align: right;
  padding-right: 2em;
  font-weight: 300;
  font-style: italic;
  opacity: 0.6;

  transition-property: visibility;
}
input:focus::placeholder,
#other:focus::placeholder {
  visibility: hidden;
}

input:focus,
textarea:focus,
#signup:hover {
  background-color: #deff78;
}
#user_state:focus {
  background-color: #deff78;
}

option:not([id="state"]) {
  font-weight: bold;
  color: black;
  opacity: 1;
}

/* ======================================================================
                        TABLET/DESKTOP Size: 768px Media Query
========================================================================= */

@media (min-width: 768px) {

  /* FLEX CONTAINERS */

  .forms fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  div {
    margin-top: 1em;
  }

  div label {
    margin-right: 1.5em;
  }

  .wrapper,
  .title {
    margin-top: 0;
  }

  .intro {
    min-width: 596px;;
    max-width: 38.375em;
  }
  main {
    max-width: 38.375em;
  }

  input[id^="user"],
  select {
    min-width: 436px;
  }

  #zip-div {
    justify-content: flex-start;
  }
  #zip {
    margin-left: 4.75em;
  }

  textarea {
    min-width: 36.375em;
  }
  #other {
    padding-top: 1em;
    padding-left: 1em;
  }

  #signup {
    width: 606px;
    margin-top: 2em;
    margin-bottom: 1.5em;
  }

  legend {
    padding-top: 2em;
  }

  .intro h2 {
    font-size: 1.4em;
    padding-top: 1em;
  }
  .intro p {
    padding-bottom: 1em;
  }

  select {
    padding-left: 1em;
  }

  .newsletter {
    margin-top: 1em;
  }
  .second {
    padding-top: 2.2em;
    padding-bottom: 0em;
  }

  .forms fieldset[class="newsletter"] div {
    justify-content: flex-start;
    align-items: center;

    margin-top: 0;
    margin-bottom: 0.5em;

    padding-top: 0;
    padding-bottom: 0;
  }

  .forms fieldset[class="newsletter"] div label {
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 0;
    padding-bottom: 0;
  }

  input[type="checkbox"] {

    margin-top: 0;
    margin-right: 0.25em;
    margin-bottom: 0;

    padding-top: 0;
    padding-bottom: 0;
  }

  .copyright {
    margin-bottom: 12em;
  }

  .intro,
  main {
    width: 606px;
  }
  .newsletter {
    padding-right: 0.5em;
  }

}
